# default behavior for linguist
*.h linguist-language=C++
dependencies/** linguist-vendored

# default behavior to automatically normalize line endings
* text eol=lf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.* text eol=crlf
*.build.props text eol=crlf

# default behavior for binary files
*.jpg binary
*.png binary
*.gif binary
*.ttf binary
*.lib binary
